* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
#header {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  background: rgba(10, 17, 40, 0.4);
  backdrop-filter: blur(22px);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head {
  display: flex;
  align-items: center;
  gap: 45px;
}
.burder-menu span {
  color: white;
  font-size: 55px;
}
.burder-menu {
  display: none;
}
.head1 {
  display: flex;
  gap: 40px;
}

.header h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.head2 button {
  width: 207px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #034078;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.head2 {
  display: flex;
  align-items: center;
  gap: 25px;
}
body {
  background: #0a1128;
}
.hero {
  padding: 270px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.hero1 {
}
.hero1 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  max-width: 516px;
  margin-top: 70px;
}
.hero1 p {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  max-width: 419px;
  margin-top: 35px;
}

.box1 {
  max-width: 376px;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  border-radius: 19px 19px 19.066px 19.066px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.box1 p {
  color: #898989;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
  max-width: 70px;
}
.box1 h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 322px;
  padding: 10px 0 20px 0;
}

.heih img {
  /* position: absolute; */
  max-width: 376px;
  width: 100%;
  margin-top: px;
}
.h1 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 97.222% */
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.grup img {
  max-width: 15.526px;
}
.grup h2 {
  color: #044176;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.grup {
  display: flex;
  justify-content: space-between;
}
.gruper {
  display: flex;
}
.dive {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.button button {
  width: 246px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #034078;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.dollar {
  margin-top: 143px;
  width: 1150px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 9px 9px 9px 0px rgba(10, 15, 33, 0.45),
    -5px -3px 10px 0px rgba(16, 23, 47, 0.45);
}
.dollar1 h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 566px;
}
.dollar1 p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 450px;
  margin-top: 20px;
}
.dollar2 button {
  width: 250px;
  height: 50px;
  flex-shrink: 0;
  background: #034078;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  max-width: 250px;
}
.dollar2 p {
  color: #767676;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 184px;
  margin-top: 20px;
  align-items: center;
}
.dollar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dollar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.baluta1 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 93.75% */
  max-width: 270px;
  padding: 0 0 40px 0;
}
.baluta2 h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ggg {
  width: 700px;
  height: 1.5px;
  background: #767676;
}
.baluta {
  display: flex;
  justify-content: space-between;
}
.jjj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0 0 0;
}
.baluta1 {
  margin-top: 40px;
}
.vefa1 h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 379px;
  margin-top: 15px;
}
.vefa1 p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 320px;
  margin-top: 25px;
}
.vefa2 p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 426px;
  margin-top: 18px;
}
.vefa2 input {
  width: 670px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(27, 41, 89, 0.4);
  border: none;
  color: white;
  padding-left: 20px;
  font-size: 30px;
}
.vefa {
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
}
.vefa2 {
  display: flex;
  flex-direction: column;
}
.vefa2 button {
  width: 271px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #044076;
  border: none;
  margin-top: 26px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.it h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.it p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.it {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
.it2 p {
  margin-top: 20px;
}

.instagram img {
  padding: 0px 10px 10px 0;
}

.instagram {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tochka {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.it1 {
  display: flex;
  flex-direction: column;
}
.mapin {
  display: flex;
  margin-top: 20px;
  padding: 0 0 10px 0;
}
.none {
  margin-top: 30px;
}
